@import url(./mobile.css);

@media (max-width: 375px ){
    .hero {
        background-image: url(./images/bg-mobile-light.jpg);
    }

    .todolist__container-card {
      width: 95%;
    }

    .todolist__actions{
        display: none;
    }

    .todolist__actions.mobile{
        display: flex;
        margin: 22px auto;
        padding: 1em 0;
        justify-content: center;
    }

    /**
     * ==========
     *  dark theme
     * ==========
     * */
    .dark .hero {
        background-image: url(./images/bg-mobile-dark.jpg);
    }
}
