:root{
  --primary: hsl(322, 100%, 66%);
  --neutral-cyan: hsl(192, 100%, 9%);
  --neutral-blue: hsl(207, 100%, 98%);
  --backgound: hsl(207, 100%, 98%);
  --bg-footer: hsl(192, 96%, 9%);

  /** === Typography ===*/
  --heading: 700 larger 'Poppins';
  --body1: 400 smaller 'Open Sans';
  --body2: 600 smaller 'open Sans';
  --body3: 700 smaller 'Open Sans';
}

*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.container{
  margin: auto;
  width: 80%;
  max-width: 1440px;
}

.container-fluid{
  margin:0  auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}


.btn{
  border-radius: 35px;
  padding: .5rem 2rem;
  outline: none;
  border: none;
}

.btn.btn--outline{
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}

.btn.btn--contained{
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
}

.btn.btn--rounded{
  border-radius: 7px;
}

.figure{
  display: inline-block;
}

.figure-img {
  margin-bottom: .5rem;
  line-height: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container.description{
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container.description.reverse{
  flex-direction: row;
}

.section_ilustration{
  width: 30%;
}

.section_desc{
  width: 50%;
}

.section__title{
  font: var(--heading);
  font-size: larger;
  margin-bottom: 1.5rem;
}

.section__copy{
  font: var(--body1);
  width: 30em;
}

/**
 * =============
 * Header
 * =============
 * */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hero{
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 3em 0;
}

.hero__banner{
  margin: 2em;
}

.hero__banner h1 {
  font: var(--heading);
}

.hero__banner-figure{
  margin: 2em 0;
}

.hero__banner__description{
  width: 430px;
  margin: 1em auto;
}

.hero__banner__description{
  margin: 1em;
}

.community_message{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.grow-together::before{
  content: '';
  display: block;
  width: 100%;
  height: 8em;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url(../images/bg-section-top-desktop-1.svg);
}

.grow-together::after{
  content: '';
  display: block;
  width: 100%;
  height: 8em;
  background-color: #fff;
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat;
}

.grow-together{
  background-color: var(--backgound);
}

.following-conversations{
  display: flex;
  margin: 2em auto;
  align-items: center;
}

.users:before{
  content: '';
  display: block;
  height: 8em;
  background-color: #fff;
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
}

.users:after{
  content: '';
  display: block;
  height: 9em;
  background-color: #fff;
  background-image: url(../images/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
}

.users{
  background-color: var(--backgound);
}

.join-community{
  padding: 1rem;
  margin: 2em auto;
  text-align: center;
}


/*
 * ==========
 * Footer
 * ==========
 * **/
.footer::before{
  content: '';
  display: block;
  height: 9.5em;
  background-color: #fff;
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
}

.footer{
  background-color: var(--bg-footer);
  color: var(--neutral-blue);
  box-sizing: border-box;
  padding-bottom: 2em;
  position: relative;
  font-size: var(--body2)
}

.footer .container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top:2em;
}


.subscribe, .huddle{
  width: 40%;
}

.huddle__title{
  font: var(--heading);
  font-size: 32px;
}

.huddle__copy{
  margin: 1em 0;
}
